body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a {
  color: white;
}

footer {
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: dimgray;
}

.navigation {
  font-size: 18px;
}

.description {
  font-size: 14px;
}

.header {
  background-image: url(images/the-flatiron-building.png);
  color: white;
}

#navigation {
  font-size: 18px;
}
